@media(max-width: 1024px) {
  .app-container{
    display:grid;
    grid-template-columns: 100%;
    padding: 20px;
    gap: 40px;
  }

  .weather-datail-container{
    margin-top: 40px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr)
  }
  .navbar-container{
    flex-direction: column;   
  }
  .navbar-container img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .showcase-container {
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.showcase-container .showcase-text h2:first-child {
  font-size: 3rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-container .showcase-text h2:last-child {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-container .showcase-text > p {
  margin-bottom: 10px;
  font-size: 0.825rem
}
.showcase-container img{
  width: 180px;
}

.hourly-forecast-container{
padding: 20px;
overflow-x: scroll;
justify-content:center ;
gap: 30px;
}

.hourly-forecast-container  .hour-weather-item img{
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.hourly-forecast-container  .hour-weather-item p:first-child{
 font-size: 0.825rem;
 text-align: center;
}

.hourly-forecast-container  .hour-weather-item p:last-child{
  font-size: 1.5rem;
}

.datails-item{
  padding: 20px;
  border-radius: 20px;
}

.datails-item p:first-child{
  font-size:0.825rem ;
  color: #8f8f8f;
  margin-bottom: 10px;
}


.datails-item div p {
  font-size: 1.5rem;
  
}


.datails-item div p span{
  font-size: 0.5rem;
  margin-left: 2px;
}
}  